//
//  Config.xcconfig
//  SimpleTracker
//
//  Created by fiftyshadesofurban on 10/17/24.
//
//  Copyright (C) 2024 Warpixel
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

MAJOR_VERSION = 0
MINOR_VERSION = 5
BUILD_NUMBER = 809
